<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="./AppLogs/internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
		<add assembly="NLog.Web.AspNetCore"/>
    </extensions>
      <variable name="appInfoDirectory" value="./log/info" />
      <variable name="appLogDirectory" value="./log/error" />
      <targets>
        <!--[Process Time(yyyy-MM-dd HH24:mi:sss)] [Log level(INFO / WARN / ERROR)] [Server Name] [Service Name] [Fucntion Name] : [Session ID] message(가변영역 - 메세지, 개별 어플리케이션 파라미터 및 바디, 헤더 정보)-->
        <target xsi:type="AsyncWrapper" name="ControllerInfo" queueLimit="10000" batchSize="200">
          <target xsi:type="File" name="Infomation" fileName="${appInfoDirectory}/${date:format=yyyy}/${date:format=MM}/lunatalkapi-${date:format=yyyyMMdd_HH}.log"
                  layout="[${longdate}] [${level}] [${machinename}] [${aspnet-mvc-controller}] [${aspnet-mvc-action}] [${aspnet-TraceIdentifier:ignoreActivityId=true}] : ${message} ${exception:format=tostring}" />
        </target>
        <target xsi:type="AsyncWrapper" name="ControllerLog" queueLimit="10000" batchSize="200">
          <target xsi:type="File" name="Infomation" fileName="${appLogDirectory}/${date:format=yyyy}/${date:format=MM}/lunatalkapi-${date:format=yyyyMMdd_HH\:mm}.log"
                  layout="[${longdate}] [${level}] [${machinename}] [${aspnet-mvc-controller}] [${aspnet-mvc-action}] [${aspnet-TraceIdentifier:ignoreActivityId=true}] : ${message} ${exception:format=tostring}" />
        </target>
      </targets>

      <rules>
        <logger name="aspnet_core_web_api_sample.*" minlevel="Trace" writeTo="ControllerInfo" />
        <logger name="aspnet_core_web_api_sample.*" minlevel="Trace" writeTo="ControllerLog" />
      </rules>
</nlog>