<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="./log/AppLogs/internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
		<add assembly="NLog.Web.AspNetCore"/>
    </extensions>
      <variable name="appLogDirectory" value="./log/" />
      <targets>
        <target xsi:type="AsyncWrapper" name="ControllerLog" queueLimit="10000" batchSize="200">
          <target xsi:type="File" name="Infomation" fileName="${appLogDirectory}/${date:format=yyyy}/${date:format=MM}/lunatalkapi-${date:format=yyyyMMdd_HH\:mm}.log"
                  layout="[${longdate}] [${level}] [${machinename}] [${aspnet-mvc-controller}] [${aspnet-mvc-action}] [${aspnet-TraceIdentifier:ignoreActivityId=true}] : ${message} ${exception:format=tostring}" encoding="utf-8" />
        </target>
      </targets>
      <rules>
        <logger name="aspnet_core_web_api_sample.*" minlevel="Trace" writeTo="ControllerLog" />
      </rules>
</nlog>